@font-face {
    font-family: 'press_start_2pregular';
    src: url('./fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('./fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.snake-game {
    font-family: 'press_start_2pregular';
    height: 500x;
    width: 500px;
    margin: 0 auto;
    padding: 25px;
}

.snake-game__display {
    background-color: #000;
    padding: 0;
    margin: 0;
    border: 10px outset orange;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
}

.snake-game__scoreboard {
    width: 520px;
    background-color: yellow;
    border: 5px solid black;
    margin-top: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.snake-game__scoreboard > h2 {
    font-size: 1.8rem;
    padding: 1em;
    text-decoration: underline;
}

.snake-game__scores {
    width: 400px;
    margin: 0 auto;
    list-style: none;
}

.snake-game__scores > li {
    margin: 0;
    margin-bottom: 1em;
}

.snake-game__scores--first::before {
    content: '1st';
    display: block;
    font-size: 0.5em;
}

.snake-game__scores--first {
    font-size: 1.8rem;
}

.snake-game__scores--second::before {
    content: '2nd';
    display: block;
    font-size: 0.5em;
}

.snake-game__scores--second {
    font-size: 1.4rem;
}

.snake-game__scores--third::before {
    content: '3rd';
    display: block;
    font-size: 0.5em;
}

.snake-game__scores--third {
    font-size: 1.2rem;
}